/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #6982a0;
    color: black; 
}

h1{
   font-family: sans-serif;
  font-size: 3rem;
  margin:  5%;
  color: yellow;
}

button{
   margin: 1px;
  display: inline-block;
  height: 50px;
  width: 100px;
  border: 10px solid black;
  border-radius: 10px;
}
#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#button1 {
    background: lightgreen;
}
#button1:active, #button1.lit {
    background:green;
}

#button2 {
    background: lightblue;
}
#button2:active, #button2.lit {
    background:blue;
}
#button3 {
    background: pink;
}
#button3:active, #button3.lit {
    background:red;
}
#button4 {
    background: lightyellow;
}
#button4:active, #button4.lit {
    background:yellow;
}
#button5 {
    background: cyan;
}
#button5:active, #button5.lit {
    background:orange;
}
  #button6 {
    background: red;
}
#button6:active, #button6.lit {
    background:orange;
}


/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}